<html>
    <head>
        <title>Views</title>
    </head>
    <body>
        <h1>Music Details</h1>
        <p> <b>Title: </b> <%= request.music.title %> </p>
        <p> <b>Artists: </b> <%= request.music.artist %> </p>
        <p> <b>Album: </b> <%= request.music.album %> </p>
        <p> <b>Genre: </b> <%= request.music.genre %> </p>
        <p> <b>Duration: </b> <%= request.music.duration %> </p>
    </body>
</html>